.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem 0.5rem;
    overflow: hidden;
    background-color: #FFFFFF;
}


/*_______________________ Category Specific Styles ____________________*/
.Culture {
    background-color: #73497c; /* Green */
  } 
  .Politics {
    background-color: #405981; /* Orange */
  }
  .Interviews {
    background-color: #3d3562; /* Pink */
  }
  .Multimedia {
    background-color: #98681f; /* Blue */
  } 
  .Opinion {
    background-color: #20603c; /* Purple */
  }
  
  .defaultCategory {
    background-color: #ca0909; /* Blue Grey */
  }
/*_______________________ Category Specific Styles ____________________*/


.loading {
    text-align: center;
    font-size: 18px;
}

.Details {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
}

.postdetsils {
    width: 100%;
    padding: 1.5rem 0.75rem ;
    border-radius: 0.4rem;
}

.category {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0.15rem 1rem;
    border-radius: 2px;
    display: inline;
}

.title h1 {
    padding: 1rem 0;
    font-family: "Jost", sans-serif;
    font-size: 25px;
}

.postImg {
    width: 100%;
    padding: 1rem 0 0.25rem 0;
    position: relative;
}

.postImg img {
    width: 100%;
}

.postdetsils small {
    font-size: 14px;
    color: #0c0c01b9;
}

.Blog_author{
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.Blog_author .author{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.Blog_author .author a{
    display: flex;
    align-items: center;
    color: #000000;
    gap: 0.25rem;
}
.Blog_author .author img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.userActions{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.action{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #00000072;
    padding: 0.5rem;
}

.action:nth-child(2){
    width: 2.25rem;
    height: 2.25rem;
    color: #0202025e;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.recomonded {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem;
}

.recomonded a,
.recomonded h1 {
    color: #000000;
}

.story:nth-child(1) {
    border-bottom: none;
}

.recomonded .story {
    width: 100%;
    display: flex;
    gap: 8px;
    border-top: 0.1px solid #020202a7;
    padding: 1.5rem 0 0.5rem 0;
}

.story .image {
    width: 35%;
}

.story .image img {
    width: 100%;
    max-height: 100%;
}

.story .Title {
    width: 63%;
}

.Title .detail {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0 8px 0;
}




.detail .category {
    color: #FFFFFF;
    font-size: 12px;
    padding: 0.15rem 1rem;
}

.detail .author {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
}

.story .Title h2 {
    font-size: 14px;
    color: #000000;
}

.video iframe{
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (min-width: 475px) {
    .video iframe{
        width: 100%;
        height: 300px;
    }
}


@media screen and (min-width: 575px) {
    .story .Title {
        width: 50%;
    }
    .video iframe{
        width: 100%;
        height: 300px;
    }
}

@media screen and (min-width: 768px) {
    .title h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .Details {
        margin-top: 40px;
    }

    .video iframe{
        width: 70%;
        height: 300px;
        display: inline;
    }

    /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

    .story .Title {
        width: 50%;
    }

    .Title .detail {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 0 10px 0;
    }

    .detail .category {
        font-size: 14px;
    }

    .detail .author {
        font-size: 16px;
        font-weight: 500;
    }

    .story .Title h2 {
        font-size: 20px;
        color: #FFFFFF;
    }



}

@media screen and (min-width: 1024px)  {
    .video iframe{
        width: 100%;
        height: 350px;
        display: inline;
    }

    .Details {
        flex-direction: row;
        align-items: flex-start;
    }
    .postdetsils {
        width: 60%;
    }
    .recomonded{
        width:38%;
    }
    .story .Title h2 {
        font-size: 16px;
        color: #FFFFFF;
    }

}