
.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem 0.5rem;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-top: 60px;
}

/*_______________________ Category Specific Styles ____________________*/
.Culture {
    background-color: #73497c; /* Green */
  } 
  .Politics {
    background-color: #405981; /* Orange */
  }
  .Interviews {
    background-color: #3d3562; /* Pink */
  }
  .Multimedia {
    background-color: #98681f; /* Blue */
  } 
  .Opinion {
    background-color: #20603c; /* Purple */
  }
  
  .defaultCategory {
    background-color: #5e570c; /* Blue Grey */
  }
/*_______________________ Category Specific Styles ____________________*/


.author{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authorDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Author image styling */
.authorImg img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Author name styling */
.authorDetails p {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Author bio styling */
.authorDetails .bio p{
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    color: #555;
}

/* Section for the author's articles */
.authorPosts h2 {
    color: #231e18;
    font-size: 18px;
    font-weight: 200;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 54px;
    border-bottom: 1px rgb(35 30 24 / 30%) solid;
    padding-bottom: 10px;
}


/* Styling each post */
.post {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 1rem 0.5rem;
    border-bottom: 1px rgb(35 30 24 / 30%) solid;
    transition: box-shadow 0.3s ease;
}
.post a{
    display: flex;
}

/* Post image styling */
.postImg {
    width: 40%;
    margin-right: 10px;
}
.postImg img {
    object-fit: cover;
    width: 100%;
}
/* Post title styling */

.Refrence {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    margin-bottom:  0.5rem;
}
.postTitle{
    width: 60%;
}
.postTitle .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 106%;
    text-decoration: none;
    color: #231e18;
    margin-bottom: 4px;

    flex: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.category{
    font-size: 10px;
    padding: 3px;
    font-weight: 300;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
}

.postTitle small {
    font-size: 10px;
    color: #888;
}
.subtitle2{
    display: none;
}
.post .subtitle1 small{
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-align: justify;
    color: #231e18;
    margin: 0;
    margin-top: 8px;
    flex: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (min-width: 525px){

    .author{
        width: 98%;
    }

    .authorDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .authorPosts h2 {
        font-size: 26px;
        padding-bottom: 10px;
    }

    .postTitle .title {
        font-size: 18px;
        font-weight: 400;
       -webkit-line-clamp: 5;
   }
}

@media screen and (min-width: 768px) {

    .author{
        width: 96%;
    }

    .authorDetails .bio p{
        font-size: 16px;
    }
    .authorPosts h2 {
        font-size: 32px;
        font-weight: 200;
        line-height: 40px;
    }

    .postTitle .title {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 106%;
    }

    .category{
        font-size: 14px;
        padding: 6px;
        font-weight: 300;
        line-height: 14px;
    }
    
    .postTitle small {
        font-size: 14px;
        color: #888;
    }
    .post .subtitle1 small{
        font-size: 16px;
        font-weight: 300;
        line-height: 120%;
        -webkit-line-clamp: 3;
    }
}

@media screen and (min-width: 1024px){

    .authorDetails{
        width: 70%;
    }
    .author{
        width: 92%;

    }

    .postTitle .title {
        font-size: 24px;
        margin-bottom: 0;
        line-height: 106%;
    }

    .subtitle1{
        display: none;
    }
    .post .subtitle2{
        display: initial;
    }
    .post .subtitle2 small{
        font-size: 18px;
        font-weight: 300;
        line-height: 120%;
        text-align: justify;
        color: #231e18;
        margin: 0;
        margin-top: 8px;
        flex: 98%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

}
