.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem 0.1rem 0.1rem 0.1rem;
    overflow: hidden;
    background-color: #FFFFFF;
}

.section_head {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Title h1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    line-height: 65%;
    color: #405981;
}

.Btn {
    display: flex;
    align-items: center;
}

.Btn button {
    color: #231e18;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border: 0;
    background-color: transparent;
}

.more {
    width: 15px;
    color: #405981;
}


.story {
    width: 100%;
    padding: 0.5rem  0.75rem;
}


.story .image {
    width: 100%;
}

.story .image img {
    width: 100%;
}

.story .refrence {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.category {
    display: flex;
    align-items: center;
}

.category p {
    cursor: pointer;
    background-color: #405981;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    display: inline;
}

.refrence .auther {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    line-height: 120%;
    padding: 0.1rem 0;
    border-radius: 2px;
}

.story .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2em;
    /* Adjust line height to control the spacing between lines */
    max-height: 3.6em;
    /* This should be 2 times the line height */
}

.story .subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #231e18;
    text-align: justify;
    font-weight: 300;
    line-height: 120%;
}

.sideStories {
    width: 98%;
    display: flex;
    padding: 0.5rem 0.75rem;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.sideStory {
    width: 47%;
}

.sideStory .side_image {
    width: 100%;
}

.sideStory .side_image img {
    width: 100%;
}

.side_title {
    line-height: 120%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-top: 8px;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2em;
    /* Adjust line height to control the spacing between lines */
    max-height: 4.8em;
    /* This should be 2 times the line height */
}


.side_subtitle {
    display: none;
}


@media screen and (min-width: 1024px) {

    .Btn button {
        font-size: 18px;
    }
    
    .Politic_stories {
        width: 98%;
        display: flex;
    }
    .section_head {
       padding: 0 1rem;
    }

    .side_title{
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 4px;
    }

    .side_subtitle{
        color: #231e18;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
}