.container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem 0.5rem;
    overflow: hidden;
    background-color: #FFFFFF;
    margin-top: 30px;
}

.Category_Container {
    width: 100%;
}

.Category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

/* Section for the author's articles */
.CategoryPosts h2 {
    color: #231e18;
    font-size: 18px;
    font-weight: 200;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 1rem;
    border-bottom: 1px rgb(35 30 24 / 30%) solid;
    padding-bottom: 10px;
}

.firstPost {
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px rgb(35 30 24 / 30%) solid;
}

.firstPost a {
    width: 100%;
}
.firstPost .Info {
    display: flex;
    gap: 0.5rem;
}
.firstPost .Info img{
    width: 2rem;
    height: 2rem;
}
.firstPost .postImg {
    width: 100%;
    overflow: hidden;
}

.firstPost .authorImg{
    padding: 0.25rem;
}
.firstPost .authorImg img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}


.firstPost .postTitle {
    width: 100%;
}

.firstPost .subtitle1 small {
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-align: justify;
    color: #231e18;
    margin: 0;
    margin-top: 8px;
    flex: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* Styling each post */
.post {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    padding: 1rem 0.5rem;
    border-bottom: 1px rgb(35 30 24 / 30%) solid;
    transition: box-shadow 0.3s ease;
}

.post a {
    display: flex;
    gap: 0.5rem;
}

/* Post image styling */
.postImg {
    width: 40%;
    margin-right: 10px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.postImg img {
    object-fit: cover;
    width: 100%;
}

.quotes{
   width: 3rem;
}
.quotes img{
    width: 100%;
}

/* Post title styling */

.Refrence {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.postTitle {
    width: 80%;
}
.post .authorImg{
    padding: 0.25rem;
}
.post .authorImg img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.postTitle .title {
    font-size: 16px;
    font-weight: 400;
    line-height: 106%;
    text-decoration: none;
    color: #231e18;
    margin-bottom: 4px;

    flex: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.Author {
    display: flex;
    align-items: center;
}

.Author span {
    color: #231e18;
    line-height: 120%;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    padding: 0 10px 0 0;
    border-right: 1px solid #231e18;
}

.postTitle small {
    font-size: 10px;
    font-weight: 300;
    line-height: 120%;
    color: #231e18;
}
/* 
.subtitle2 {
    display: none;
} */

.post .subtitle small {
    font-size: 14px;
    font-weight: 300;
    line-height: 120%;
    text-align: justify;
    color: #231e18;
    margin: 0;
    margin-top: 8px;
    flex: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.firstPost:hover .postImg img{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.4s ease-in-out;
}
.post:hover .postImg img{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.4s ease-in-out;
}
.firstPost:hover .title,
.post:hover .title{
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}



@media screen and (min-width: 525px) {

    .Category {
        width: 98%;
    }

    .CategoryPosts h2 {
        font-size: 26px;
        padding-bottom: 10px;
    }

    .postTitle .title {
        font-size: 18px;
        font-weight: 400;
        -webkit-line-clamp: 5;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-top: 50px;
    }

    .Category {
        width: 96%;
    }

    .CategoryPosts h2 {
        font-size: 32px;
        font-weight: 200;
        line-height: 40px;
    }

    .postTitle .title {
        font-size: 20px;
        margin-bottom: 0;
        line-height: 106%;
    }

    .category {
        font-size: 14px;
        padding: 6px;
        font-weight: 300;
        line-height: 14px;
    }

    .postTitle small {
        font-size: 14px;
        color: #888;
    }

    .post .subtitle1 small {
        font-size: 16px;
        font-weight: 300;
        line-height: 120%;
        -webkit-line-clamp: 3;
    }
}

@media screen and (min-width: 1024px) {
   
    .post .Info{
        display: flex;
        gap: 0.75rem;
    }
    .post .Info img{
        width: 2rem;
        height: 2rem;
    }

    .Category_Container {
        display: flex;
    }

    .Category {
        width: 60%;
    }
  

}