* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #E7ECF0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#root{
  width: 100%;
}

a{
  text-decoration: none;
}

/* Category Specific Styles */
.Culture {
  background-color: #73497c; /* Green */
}

.Politics {
  background-color: #405981; /* Orange */
}

.Interviews {
  background-color: #3d3562; /* Pink */
}

.Multimedia {
  background-color: #98681f; /* Blue */
}

.Opinion {
  background-color: #20603c; /* Purple */
}



.defaultCategory {
  background-color: #ca0909; /* Blue Grey */
}